.toolbar {
  & ul>li {
    &.logout {
      cursor: pointer;
      padding-top: 7px;
    }
    & a {
      &.active {
        border-bottom: 3px solid whitesmoke;
      }
      text-decoration: none;
      font-size: smaller;
      color: white;
    }
    list-style: none;
  }
}
