<div fxLayout="row" fxLayoutGap="5px" class="message_wrapper">
  <div fxLayout fxLayoutAlign="flex-start" fxFlex="1 0 90%" class="messageText">
    <div class="avatar"><img src="{{message.sender.photoURL}}"/></div>
    <div fxLayout="column">
      <div>
        <span class="name"><a
          [routerLink]="['/profile', message.sender.uid]">{{message.sender.firstName}} {{message.sender.lastName}}</a></span>
        <span class="createdAt">{{message.createAt.seconds * 1000 | date: 'medium'}}</span>
      </div>
      <div>{{message.message}}</div>
    </div>
  </div>
</div>
