:host {
  display: flex;
  justify-content: center;

  & .avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    & img {
      object-fit: cover;
      width: 100%;
    }
  }

  & .fio {
    text-align: center;
    font-weight: 200;
  }

  & .quote {
    text-align: center;
    font-weight: 500;
  }

}

