<section class="form-wrapper" fxLayout="column" fxLayoutGap="5px" *ngIf="(user$ | async) as user">
  <div class="avatar"><img src="{{user.photoURL}}"></div>
  <div class="fio">{{user.firstName}} {{user.lastName}}</div>
  <div *ngIf="user.quote" class="quote">"{{user.quote}}"</div>
  <button (click)="navigateEditProfile(user.uid)" *ngIf="isCurrentUserProfile$ | async; else chatBtn " mat-raised-button color="primary">
    Update Profile
  </button>
  <ng-template #chatBtn>
    <button (click)="inviteToDirectChat(user)" mat-raised-button color="primary">
      Create Chat
    </button>
  </ng-template>
</section>
