:host {
  display: flex;
  justify-content: center;
  & .form-wrapper {
    & .title {
      text-align: center;
      margin-top: 10px;
    }
    & mat-form-field {
      width: 300px;
    }
    & .navigate {
      font-size: small;
      margin: auto;
    }
  }

}

