<app-chatroom-title-bar fxFlex="0 0 auto" [title]="chatroom?.name"></app-chatroom-title-bar>

<div class="messages-wrapper"
     fxLayout="column"
     fxFlex="1 1 80vh"
     fxLayoutAlign="flex-end"
     fxLayoutGap="10px">
  <div class="scrollable" [ngClass]="{scrolling: isScrolling|async}" cdkScrollable>
    <ng-container *ngFor="let message of messages">
      <app-chatroom-message [message]="message">

      </app-chatroom-message>
    </ng-container>
  </div>

</div>
<app-chat-input fxFlex="1 0 5vh"></app-chat-input>
