<section class="form-wrapper">
  <h2 class="title">Login</h2>
  <form fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px"
        [formGroup]="loginForm"
        (ngSubmit)="submit()"
        novalidate>
    <mat-form-field hintLabel="Please, enter your email">
      <input type="email" matInput placeholder="Your email" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="loginForm.controls.email.hasError('required')">Field must not be empty</mat-error>
      <mat-error>Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Please, enter your password">
      <input type="password"
             matInput
             formControlName="password"
             placeholder="Your password"
             required
      >
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">Min length is 8</mat-error>
      <mat-error *ngIf="loginForm.controls.password.hasError('required')">Should not be empty</mat-error>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Submit
    </button>
    <div class="navigate">
      <a routerLink="/signup">Need an Account?</a>
    </div>
  </form>
</section>
