<section class="chat-window" fxLayout="column">
  <app-chatroom-title-bar fxFlex="0 0 5%" title="Cat Facts"></app-chatroom-title-bar>
  <div class="message-wrapper"
       fxFlex="1 0 auto"
       fxLayout="column"
       fxLayoutAlign="flex-end"
       fxLayoutGap="10px">
    <ng-container *ngFor="let message of dummyData">
      <app-chatroom-message [message]="message">

      </app-chatroom-message>
    </ng-container>
  </div>
  <app-chat-input fxFlex="0 0 10%"></app-chat-input>
</section>
