.side-block {
  & mat-icon {
    position: relative;
    top: 5px;
    left: 5px;
  }

  & .rooms {
    & .chatroom-list-item {
      &.active:before {
        content: '✔️';
      }
      display: inline-block;
      width: 100%;
      padding: 0 0 10px 10px;
      text-decoration: none;
      border-top: 1px solid lightgrey;
      background: whitesmoke;
    }
  }


  & .title {

    font-size: large;
    text-align: center;
    margin: 20px 0;
  }

  border-right: 2px solid whitesmoke;
  height: 100%;
  overflow-y: auto;
}
