<div fxLayout="column"
     fxLayoutAlign="flex-start"
     fxLayoutGap="10px"
     class="side-block">
  <div class="title">
    <span>Movies</span>
    <mat-icon>movie</mat-icon>
  </div>
  <div class="rooms">
    <a *ngFor="let chatRoom of chatrooms$ | async"
       [routerLink]="['/chat', chatRoom.id]"
       routerLinkActive="active"
       class="chatroom-list-item">
      <span>{{chatRoom.name}}</span>
      <mat-icon>chat</mat-icon>
    </a>
  </div>
  <div class="participants">
    <app-room-participants></app-room-participants>
  </div>
</div>
